<section class="section pointer" id="nftcollection">
    <div class="container z-1">
        <div class="row justify-content-center txt-bg txt-bg-nftcollection">
            <div class=col-lg-6>
                <div class="wow fadeIn section-title text-center mb-4 pb-2">
                    <div class="mb-5 pb-3"> 
                        <i class="fas fa-trophy h1 text-muted"></i></div>
                        <h2 class="h3 font-weight-bold">My NFT Collection</h2>
                        <p class="text-muted mx-auto mb-0 mt-4 para-desc">
                            Honey Badger AI Bot NFT Collection. Not Your Typical MEME NFT...</p>
                </div>
            </div>
        </div>
            <div class="container-ach">
               
                <div   *ngFor="let nftcollection of nftcollectionData" class="box col-lg-4 wow zoomIn{{nftcollection['animationClass']}}" data-wow-delay=0.5s>
                    <a href="{{nftcollection['link']}}" target="_blank" class="btn btn-primary">
                    <h3 class="description pl-1 h2"> {{nftcollection['description']}} </h3>
                <img src="assets/images/nftcollection/{{nftcollection['image']}}.webp" class="ach-img" alt="nftcollection - {{nftcollection['image']}}" loading="lazy" title="{{nftcollection['image']}}">
                    </a>

                  

               
            </div> 
            </div>
    </div>

                </section>
